    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
    @import url("../fonticons/style.css");
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 16px;
        /*use EM for font-size , 16PX is root it means 16PX = 1Em */
    }
    
    html {
        font-size: 8px;
    } 
    
     :root {
        --primary-color: #eaeaea;
        --secondary-color: #2A2C41;
        --text-color: #7F8AA0;
        --border-radius: 3px;
        --button-color: #407BFF;
        --size-10: 1.2rem !important;
        --size-11: 1.375rem !important;
        --size-12: 1.5rem !important;
        --size-13: 1.625rem !important;
        --size-14: 1.75rem !important;
        --size-15: 1.875rem !important;
        --size-16: 2rem !important;
        --size-17: 2.125rem !important;
        --size-18: 2.25rem !important;
        --size-19: 2.375rem !important;
        --size-20: 2.5rem !important;
        --size-21: 2.625rem !important;
        --size-22: 2.75rem !important;
        --size-23: 2.875rem !important;
        --size-24: 3rem !important;
    }
    
    body {
        min-height: 95vh;
        font-family: 'Poppins', sans-serif;
        /* display: grid; */
        /* grid-template-columns: repeat(auto-fit,minmax(200px,1fr)); */
        /* grid-template-rows: repeat(5,150px); */
        /* grid-auto-rows: 150px; */
        /* gap: 10px; */
        overflow-y: hidden;
        width: 100%;
    }
    
    .padded {
        padding-right: var(--size-16)!important;
        padding-left: var(--size-16)!important;
    }
    /* navbar section ::::::::::::::::::::::::::::::::::::::::: */
    
    .navbar {
        margin-bottom: 1rem;
        box-shadow: 0 8px 5px #0001;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .userinformation {
        /* margin: 10px 0 0 10px; */
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 10%;
    }
    
    .userinformation .user {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        border: 1px solid #0005;
        color: #000b;
        padding: 1rem;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
        cursor: pointer;
    }
    
    .userinformation .user_icon {
        font-size: var(--size-20);
        display: block;
        margin-top: -1rem;
        margin-right: .5rem;
    }
    
    .userinformation .user-name {
        white-space: nowrap;
        display: block;
        font-size: var(--size-16);
        margin-bottom: -.2rem;
        text-transform: lowercase;
    }
    
    .userinformation .user-name::selection {
        background-color: transparent;
        color: unset;
    }
    
    .userinformation .items-navbar {
        display: flex;
        position: absolute;
        top: 130%;
        flex-flow: column nowrap;
        z-index: 999;
        opacity: 0;
        margin-top: 2rem;
        transition: margin .1s linear 0s, opacity .1s linear 0s;
        -webkit-transition: margin .1s linear 0s, opacity .1s linear 0s;
        -moz-transition: margin .1s linear 0s, opacity .1s linear 0s;
        -ms-transition: margin .1s linear 0s, opacity .1s linear 0s;
        -o-transition: margin .1s linear 0s, opacity .1s linear 0s;
    }
    .items-navbar.navbar_dropdownActive {
        opacity: 1;
        margin-top: 0;
    }

    .items-navbar::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: inherit;
        border: inherit;
        top: 0;
        left: 10%;
        transform: translate(0, -50%) rotate(45deg);
        -webkit-transform: translate(0, -50%) rotate(45deg);
        -moz-transform: translate(0, -50%) rotate(45deg);
        -ms-transform: translate(0, -50%) rotate(45deg);
        -o-transform: translate(0, -50%) rotate(45deg);
        z-index: 1;
        background-color: #eee;
        border: 1px solid #bbb;
        border-bottom: none;
        border-right: none;
    }
    
    .dropdown_inner {
        border: 1px solid #bbb;
        background-color: #eee;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 7px 8px 2px #0003;
    }
    
    .userinformation .dropdown-item {
        display: block;
        white-space: nowrap!important;
        font-size: var(--size-12);
        cursor: pointer;
        padding: .5rem;
        word-spacing: -.1rem;
        font-weight: 800;
        position: relative;
        z-index: 2;
        color: #000b;
    }
    
    .userinformation .dropdown-item::before {
        font-family: 'icomoon';
        font-size: var(--size-18);
        font-weight: normal;
        margin-right: .6rem;
    }
    
    .items-navbar .user-profile::before {
        content: '\e946';
    }
    
    .items-navbar .change-password::before {
        content: '\ea80';
    }
    
    .items-navbar .sign-out::before {
        content: '\ea1d';
    }
    
    .dropdown-item:hover {
        background-color: #cfcfcf;
    }
    /* main content section :::::::::::::::::::::::::::::::::: */
    
    .main_content {
        display: flex;
        flex-flow: row wrap;
    }
    
    @media screen and (min-width:768px) {
        .main_content {
            flex-flow: row nowrap;
        }
    }
    /* side bar section :::::::::::::::::::::::::::::::::: */
    
    .sidebar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        /* box-shadow: 1px -1px 5px var(--secondary-color); */
    }
    
    @media screen and (min-width:768px) {
        .sidebar {
            max-width: 35%;
        }
    }
    
    .sidebar .img-sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20%;
    }
    
    .dashboard-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    /* drap down menu in side bar */
    
    .item-parent-sidebar .manager-item,
    .items-child-sidebar {
        list-style-type: none;
    }
    
    .item-parent-sidebar .manager-item {
        cursor: pointer;
        padding: 8px;
        border: 3px solid var(--button-color);
        border-radius: 3px;
        outline: 3px solid #0000;
        outline-offset: 100px;
        transition: 0s;
    }
    
    .manager-item:hover {
        outline-offset: -3px;
        border-color: var(--button-color);
        outline-color: var(--button-color);
        transition: 0.5s;
    }
    
    .items-child-sidebar {
        position: absolute;
        top: 120%;
        display: none;
    }
    
    .items-child-sidebar .item-child {
        cursor: pointer;
        padding-bottom: 8px;
        background: linear-gradient(#407BFF 0 0) left 0 bottom 4px, linear-gradient(#407BFF 0 0) right 0 bottom 4px;
        background-size: 50% 3px;
        background-repeat: no-repeat;
        transition: 0.3s linear, background-size 0.3s 0.3s;
    }
    
    .item-child:hover {
        background-position: left 0 bottom 6px, right 0 bottom 0;
        background-size: 100% 3px;
    }
    /* content section :::::::::::::::::::::::::::::::::: */
    
    .content {
        grid-column: 2/-1;
        grid-row: 2/-1;
        margin-right: 5px;
        /* box-shadow: -1px -1px 5px var(--secondary-color); */
    }
    
    .content .content-img {
        width: 100%;
        height: 81%;
        opacity: 90%;
    }